<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.chainfire.libsuperuser_example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="eu.chainfire.libsuperuser.Application"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="InteractiveActivity" >
        </activity>
        <activity android:name="PooledActivity" >
        </activity>

        <receiver android:name=".BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        
        <receiver android:name=".HideOverlaysReceiver" >
            <intent-filter>
                <action android:name="eu.chainfire.supersu.action.HIDE_OVERLAYS" />
                <category android:name="android.intent.category.INFO" />
            </intent-filter>
        </receiver>

        <service
            android:exported="false"
            android:name=".BackgroundIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
</manifest>