libsuperuser/.classpath
libsuperuser/.project
libsuperuser/.settings
libsuperuser/bin
libsuperuser/gen
libsuperuser_example/bin
libsuperuser_example/gen
libsuperuser_example/proguard
libsuperuser_example/dexguard
